.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

body {
display: block;
justify-content: center;
align-items: center;
flex-wrap: wrap;
background: #232427;
}

body .container .card {
position: relative;
/* min-width: 320px; */
/* height: 440px; */
box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
  inset -5px -5px 15px rgba(255, 255, 255, 0.1),
  5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
border-radius: 15px;
margin: 30px;
transition: 0.5s;
}

/* ==========footer */


.footer {
  padding:40px 0;
  background-color:#ffffff;
  color:#4b4c4d;
  /* position:absolute; */
}

.footer ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer li {
  padding:0 10px;
}

.footer ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer ul a:hover {
  opacity:1;
}

.footer .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}

/* ======nav */
#nav {
  display: inline-block;
}

#nav, .subnav {
  list-style: none;
}

#nav > li {
  display: inline-block;
}

#nav > li img {
  display: inline-block;
}



#nav li{
  position: relative;
}

/* Trường hợp thẻ a là con trực tiếp
của thẻ li là con trực tiếp thẻ #nav
để tránh lỗi màu với thẻ subnav */

#nav > li > a 
{
  text-transform: uppercase;
  color: #fff;
}

#nav li a {
  text-decoration: none;
  line-height: 46px;
  padding: 0 24px;
  display: block;
}

#nav li:hover .subnav {
  display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a {
  background-color: #ccc;
  color: #000;
}

#nav .subnav {
  display: none;
  top: 100%; /* lay chieu cao cua the? cha */
  left: 0%; 
  position: absolute;
  background-color: #fff;
  color: #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  min-width: 160px;
}
/* ----------------- */
