{% extends "base.html.twig" %}
{% block header %}
<style>

/* center container in the middle */
html {
  display: grid;
  min-height: 100%;
}

body {
  display: grid;
  background: #E0C9CB;
  font-family: sans-serif;

}

.container {
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 430px;
  height: 500px;
  background: #F5F5F5;
  box-shadow: 5px 5px 15px rgba(#BA7E7E, .5);
  border-radius: 10px;
}

p {
  font-size: 1.1em;
  color: #BA7E7E;
  letter-spacing: 1px;
}

h1 {
  font-size: 1.5em;
  color: #4E4E4E;
  margin-top: -5px;
}

img {
  width: 330px;
  height: 350px;
  margin: auto;
  margin-top: 30px;
  display: block;
}



</style>


{% endblock %}


{% block body %}
<div class="container">
  <div class="images">
    <img src="{{category.image}}" />
  </div>
  <br><br>
         <h1>Name: {{category.name}}</h1>
         <p>Description: {{category.description}}</p>
           
         </table> 
      </div>
   </div>
</div>
{% endblock %}

{% block flash %}{% endblock %}
{% block footer %}{% endblock %}